# Support Vector Machines
You should build a machine learning pipeline using a support vector machine model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a support vector machine model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

### Import libraries

In [75]:
import pandas as pd
import sklearn.model_selection
import sklearn.svm
import sklearn.metrics

### Import dataset

In [76]:
mnist_db = pd.read_csv('/Users/adolfomytr/Documents/Alemania/Master/GISMA/Materias/teaching-main/datasets/mnist.csv')
mnist_db = mnist_db.set_index('id')
mnist_db.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Split into training and testing dataset

In [77]:
x = mnist_db.drop('class', axis=1)
y = mnist_db['class']

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

print('mnist_db', mnist_db.shape)
print('x_train', x_train.shape)
print('x_test', x_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

mnist_db (4000, 785)
x_train (3000, 784)
x_test (1000, 784)
y_train (3000,)
y_test (1000,)

### Train the model

In [78]:
model = sklearn.svm.SVC(C=2, kernel='rbf')
model.fit(x_train, y_train)

SVC(C=2)

### Test the model

In [79]:
y_predicted = model.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_predicted)
print(accuracy)

0.948

## SVM but with regression calculating house prices

### Import dataset

In [80]:
housing_df = pd.read_csv('/Users/adolfomytr/Documents/Alemania/Master/GISMA/Materias/teaching-main/datasets/housing.csv')
housing_df = housing_df.set_index('id')
housing_df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

### Split into training and testing dataset

In [81]:
x = housing_df.drop('price', axis=1)
y = housing_df['price']

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

print('housing_db', housing_df.shape)
print('x_train', x_train.shape)
print('x_test', x_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

housing_db (545, 13)
x_train (408, 12)
x_test (137, 12)
y_train (408,)
y_test (137,)

### Train the model with SVMR

In [82]:
model = sklearn.svm.SVR(kernel='rbf')
model.fit(x_train, y_train)

SVR()

### Test the model

In [83]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.mean_squared_error(y_test, y_predicted)
print(mse)

3285025345903.2227